/*  your css code here. If applicable */
.header {
	background-color :  #011e29;
	color : white ;
	padding : 10px ;
	text-align : center ;
}
body {
	background-color : #f5f5f5
}

.latest-news-section {
	background-color : white ;
	padding : 5px ;
	width : 150px ;
	border-radius : 10px ;
	margin : 10px ;
}

.first {
	display : flex ;
	
}

.article {
	background-color : white ;
	padding : 5px ;
	width : 150px ;
	border-radius : 10px ;
	margin : 10px ;
}
.pictorial-news-section {
	text-align : center ;
		background-color : white ;
	padding : 5px ;
	width : 150px ;
	border-radius : 10px ;
	margin : 10px ;
	
}
img {
	width : 150px ;
}
